<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Patient_Record_Management_System_PRMS_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Patient_Record_Management_System_PRMS_.My.MySettings.PRMSdatabaseConnectionString" connectionString="Data Source=OLASQUARE\SQLEXPRESS;Initial Catalog=PRMSdatabase;User ID=sa;Password=olayiwola" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <Patient_Record_Management_System_PRMS_.My.MySettings>
            <setting name="username" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>admin</value>
            </setting>
        </Patient_Record_Management_System_PRMS_.My.MySettings>
    </userSettings>
</configuration>
